export DEBUG=1
export ENV=DEV
export SECRET_KEY='o1p4vi)4dy11_q^i^xb)h0atnwb_t9&mvf*j*7%89kvbbdo(u4'
export DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
export DJANGO_SETTINGS_MODULE=config.settings.development
export USE_SQLITE=1
export POSTGRES_USER=wizall
export POSTGRES_PASSWORD=passer2023
export POSTGRES_DB=docs
export POSTGRES_HOST=localhost
export POSTGRES_PORT=5432
export SWAGGER_BASE_URL=http://127.0.0.1:8000
